
@{
    ViewBag.Title = "Login";
}


<div class="container">
    <h3>Login</h3>
    <form name="login" class="jumbotron">
        <div class="label label-primary">Username</div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="userid" /><br /><br />
        <div class="label label-primary">Password</div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="pswrd" /><br /><br />
        <input type="button" onclick="check(this.form)" value="Login" class="btn-success" />
        <input type="reset" value="Cancel" class="btn-danger" />
    </form>
</div>
<script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.userid.value == "admin" && form.pswrd.value == "password") {
                    window.open('/Page/Index')/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Error Password or Username")/*displays error message*/
                }
            }
</script>


